.training-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem;
  background: #fff9f9;
  flex-wrap: wrap;
}

.training-left {
  width: 55%;
}

.training-left h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.training-left p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.training-left p span {
  color: var(--customColor);
  font-weight: bold;
}

.training-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.training-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.training-item .number {
  background: #ffe6e6;
  color: var(--customColor);
  font-weight: bold;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.training-item h3 {
  margin: 0;
  color: #2a2a2a;
}

.training-item p {
  margin: 0.2rem 0 0;
  font-size: 0.95rem;
  color: #555;
}

/* Right Side */
.training-right {
  width: 300px;
  height: 100%;
  background: #fff0f0;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  border: solid var(--customColor) 1px;
}

.stat-card {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: solid blue; */
  width: 100%;
  gap: 2rem;
}

.stat-card .icon {
  font-size: 2rem;
  color: var(--customColor);
  margin-bottom: 0.5rem;
}

.stat-card h4 {
  font-size: 1.5rem;
  margin: 0;
}

.stat-card p {
  margin: 0;
  color: #555;
}
.icon-circle {
  background-color: white;
  padding: 10px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stat-counter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
/* Responsive */
@media (max-width: 768px) {
  .training-left {
  width: 100%;
}
.training-container {

  gap: 2rem;
  padding: 2rem;

}
.training-item .number {
  background: #fcfcfc;

}
}


