.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  width: 100%;height: 100%;
  overflow: hidden;
}

.loader-wrapper>img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}