.homeTestimonial {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.homeTestimonialHead {
  /* border: solid blue; */
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.homeTestimonialHead > h6 {
  background:var(--customGradient);
  background-clip: text;
  font-weight: bold;
  color: transparent;
  font-size: 18px;
}
.homeTestimonialHead > h2 {
  font-size: 45px;
  font-weight: bolder;
}
.homeTestimonialHead > h2 > span {
  background:var(--customGradient);
  background-clip: text;
  color: transparent;
}
/* ------------------------------------------------------------------ */
.homeTestimonialMain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeTestimonialMain-content {
  /* border: solid green; */
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.homeTestimonialMain-ImgWrapper {
  /* border: solid brown; */
  border-radius: 100%;
  width: 60%;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.homeTestimonialMain-ImgContent1 {
  /* border: solid red; */
  height: 100%;
  width: 50%;
  background: var(--customGradient);
}
.homeTestimonialMain-ImgContent2 {
  /* border: solid teal; */
  position: absolute;
  width: 85%;
  height: 85%;
  border-radius: 100%;
  z-index: 1;
  overflow: hidden;
}
.homeTestimonialMain-ImgContent2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeTestimonialMain-ImgContent3 {
  /* border: solid red; */
  height: 100%;
  width: 50%;
}
.homeTestimonialCarousel {
  /* border: solid; */
  width: 100%;
  height: 350px;
}
/* ----------------------------carousel----------------------------------- */

.carousel {
  /* border: solid red; */
  width: 100%;
  height: 100%;
}
.carousel-item {
  /* border: solid blue; */
  height: 400px;
  width: 100%;
  padding: 10px;
  position: relative;
}
.carousel-item > img {
  /* position: absolute; */
  z-index: -1;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
  /* opacity: 0.3; */
}
.carousel-item > p {
  text-align: justify;
  font-size: 17px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeTestimonial {
    padding: 10px;
  }
  .homeTestimonialMain {
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
  }
  .homeTestimonialMain-content {
    /* border: solid green; */
    width: 100%;
    height: 600px;
    gap: 20px;
  }
  .homeTestimonialMain-content:nth-child(1) {
    height: 350px;
    padding: 10px;
  }
  .homeTestimonialHead > h2 {
    font-size: 30px;
    font-weight: bolder;
  }
  .homeTestimonialMain-ImgWrapper {
    /* border: solid brown; */
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .carousel-item {
    /* border: solid blue; */
    height: 100%;
    width: 100%;
    padding: 0px;
    position: relative;
  }
}
