@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
:root {
  --customColor: #fb1a10;
  --customColor2: #123751;
  --headerFont: "Lexend", serif;
  --customGradient: linear-gradient(to right, #fb1a10, #fb1a10);
  --headerColor:#FEC257
}
