.coursesHeader-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.coursesHeader-content {
  /* border: solid blue; */
  width: 100%;
  padding: 40px;
  position: relative;
}
.coursesHeader-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coursesHeader-content:nth-child(1) {
  height: 200px;
}
.coursesHeader-content > h2 {
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 50px;
  font-weight: bold;
}
.coursesHeader-content:nth-child(2) {
  height: 550px;
  padding: 0;
}
.coursesHeader-content:nth-child(3) {
  height: 150px;
}
.coursesHeader-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.225);
}
.bar {
  position: absolute;
  bottom: -25px;
  left: 40px;
  width: 40%;
  height: 25px;
  z-index: 1;
  /* border: solid yellow; */
  background-color: var(--customColor);
}
.coursesHeader-desp {
  /* border: solid teal; */
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 30px;
  bottom: -70px;
  background-color: white;
  z-index: 1;
}
#coursesHeader-desp2 {
  display: none;
}
.coursesHeader-despContent {
  width: 100%;
  /* border: solid red; */
}
.coursesHeader-despContent:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  padding: 30px;
  gap: 20px;
}
.coursesHeader-despContent:nth-child(2) {
  height: 50%;
  padding: 30px;
}
.coursesHeader-despContent:nth-child(3) {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--customColor);
  color: white;
}
.coursesHeader-despContent:nth-child(3) > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
.coursesHeader-despContent > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}
.coursesHeader-despContent > li > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.coursesHeader-title {
  position: absolute;
  z-index: 1;
  left: 30px;
  bottom: 20px;
  width: 500px;
}
.coursesHeader-title > h2 {
  color: white;
  font-size: 50px;
}
.coursesHeader-despContent > p {
  text-align: justify;
}
@media screen and (max-width: 768px) {
  #coursesHeader-desp1 {
    display: none;
  }
  #coursesHeader-desp2 {
    display: flex;
    position: static;
  }
  .coursesHeader-desp {
    /* border: solid teal; */
    width: 100%;
    height: 100%;
  }
  .coursesHeader-content {
    /* border: solid blue; */
    width: 100%;
    padding: 20px;
    position: relative;
  }
  .coursesHeader-content:nth-child(1) {
    height: 100px;
  }
  .coursesHeader-content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
  }
  .coursesHeader-content:nth-child(3) {
    height: 100%;
  }
  .coursesHeader-despContent:nth-child(1) {
    padding: 10px;
  }
  .coursesHeader-despContent:nth-child(2) {
    padding: 10px;
  }
  .coursesHeader-title {
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 20px;
    width: 100%;
    padding: 20px;
  }

  .coursesHeader-title > h2 {
    color: white;
    font-size: 30px;
  }
}
